.btn-container {
    text-align: center;
}
.btn.btn-outline-secondary {
    width: inherit;
}
.btn.btn-outline-primary {
    width: inherit;
}
.container.btn-container {
    max-width: 500px;
}
body {
    min-width: 300px;
}
.job-container {
    margin-top: 2rem;
}
#img-container {
    margin-top: 100px;
}
body {
    margin: auto;
    max-width: 550px;
}