{% load static %}
{% include 'main.html' %}
<link rel="stylesheet" href="{% static 'createPost/createPost.css' %}">
{% block content %}
    <div class="container main-container">
        <form class="create-post-form" method="POST" enctype="multipart/form-data">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Job Title" aria-label="Job Title" aria-describedby="button-addon2">
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Payment Amount" aria-label="Payment Amount" aria-describedby="button-addon2">
            </div>
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Start Date" aria-label="Start Date" aria-describedby="button-addon2">
            </div>
            <div class="input-group mb-3">
                <div class="form-floating">
                  <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                  <label for="floatingTextarea">Comments</label>
                </div>
            </div>
            <div class="mb-3">
              <label for="formFile" class="form-label">Default file input example</label>
              <input class="form-control" type="file" id="formFile">
            </div>
            <br>
            <div class="container btn-container">
                <button type="button" class="btn btn-outline-primary">Post this Job</button>
            </div>
            <br>
            <div class="container btn-container">
                <button type="button" class="btn btn-outline-secondary">Clear Form</button>
            </div>
        </form>
    </div>

{% endblock content %}